<div class="Testing">
  <h1 class="title">Welcome to Project!</h1>
  <button id="directives" type="button" name="directives" (click)="goToDirectives()">directives</button>
  <button id="lifecycle" type="button" name="lifecycle" routerLink="lifecycle">lifecycle</button>
  <button id="routing" type="button" name="routing" [routerLink]="['routing', '20/02/2018']">routing</button>
  <a routerLink="way-binding">way-binding</a>
</div>
<div class="">
  <button id="add" type="button" name="lifecycle" (click)="pushElement()">addElement</button>
  <!-- <button id="add" type="button" name="lifecycle" (click)="addElement()">addElement</button> -->
  <button id="delete" type="button" name="routing" (click)="deleteElement()">deleteElement</button>
  <input class="text" type="text" name="" value="" [(ngModel)]="testTextObject.testingModel" (change)="changeTestingElement()">
</div>
<a class="true-power" (click)="pushTheBus()">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  Come Here And You Become One Of The Greatest Lords In All Words!!!
</a>
<div style="text-align:center">
  <!--<h1>-->
  <!--Welcome to Project!-->
  <!--</h1>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
</div>

<!-- <input type="text" name="" value="" [(ngModel)]="element"> -->
<!-- <ekreative-lifecycle [element]='element'></ekreative-lifecycle> -->

<router-outlet></router-outlet>
